* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
    background-color: #b0e9f2;
}

#genera-password {
    display: none;
    margin-left: 20px;
}

#genera-password.visibile {
    display: block;
}

#password {
    margin-left: 20px;
    line-height: 50px;
    color: blue;
    font-weight: bold;
}
